**/.DS_store
*.code-workspace
.ipynb_checkpoints
.vscode
# Esta es la copia local de la librería `fermat` para su estudio.
fermat 
venv
drafts
resources
# No publicar PDFs de bibliografía
bib/*.pdf
# Programas de terceros
src
# caches
_cache
__pycache__
# Data files
*.pkl
*.pyc
