numpy
scipy
pandas
scikit-learn
matplotlib
statsmodels
seaborn
ipython
ipykernel
typing
# fermat
ipympl  # interactive mpl widgets in notebooks
networkx  # graph library
black  # code formatter
# For comparatives
scikit-optimize
lightgbm